.fondo{
    background: #45B5C4; 
    width: 100%;
}
.fondoAdmin
{
  background: #D4D2D2!important;
}
/*ICON ESTRELLAS INICIO*/
.icon-estrella{
  color: #fff!important;
  font-size: 25px;
}
.estrella-pintada{
  color: #001FFF!important;
}

.estrella:hover{
  color: #28E6FD!important;
}
.icon-estrella-ayuda{
  color: #99A3A4!important;
  font-size: 25px;
}
/*ICON ESTRELLASFIN*/
/*Fondo para lista talleres*/
.fondo1{
  /*margin-top: 50px;*/
  background: url(../images/fondos/fondoTalleres.jpg);
  float: left;
  width: 100%;
  height: 100%;
  background-repeat:no-repeat; /* No se repetira */
  background-size:cover; /* Imagen al 100% del ancho */
  background-attachment: fixed; /* Posicion fija para la imagen */
}
.fondo1 .cont{
  background: rgba(0,0,0,.6)!important;
  height: 100%;
}
/*Fondo para lista usuarios*/
.fondoUsuarios{
  /*margin-top: 50px;*/
  background: url(../images/fondos/fondoAdmin.jpg);
  float: left;
  width: 100%;
  height: 100%;
  background-repeat:no-repeat; /* No se repetira */
  background-size:cover; /* Imagen al 100% del ancho */
  background-attachment: fixed; /* Posicion fija para la imagen */
}
.fondoUsuarios .cont{
  background: rgba(0,0,0,.6)!important;
  height: 100%;
}
.fondoForo{
  /*margin-top: 50px;*/
  background: url(../images/fondos/fondoForo.jpg);
  float: left;
  width: 100%;
  height: 100%;
  background-repeat:no-repeat; /* No se repetira */
  background-size:cover; /* Imagen al 100% del ancho */
  background-attachment: fixed; /* Posicion fija para la imagen */
}

.card-difu{
  backdrop-filter: blur(10px)!important;
  background-color: rgba(255,255,255,0.4)!important;
}
/*BG INICIO*/
.bg-modal-message{
	background: #A0DED6;
}

.bg-modal-titulo{
	background: #7ECECA;
}
/*BG FIN*/
/*Login INICIO*/
.bg-registro{
	background: #CCCCCC;
}
/*LOGIN FIN*/
/*Espera INICIO*/
.spinner {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  animation: s4 4s infinite;
}
.spinner::before,
.spinner::after {    
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: #23B0DB #23B0DB #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.spinner::after {
  border-color: #0000 #0000 blue blue;
  animation-direction: reverse;
}

@keyframes s4{ 
  100%{transform: rotate(1turn)}
}
@keyframes s1 {to{transform: rotate(.5turn)}}
/*Espera FIN*/
/*Bordes INICIO*/
.border-curvo{
	border-radius: 1rem!important;
}

.border-curvo-top2{
	border-top-left-radius: 1rem!important;
	border-top-right-radius: 1rem!important;
}
/*Bordes FIN*/

/*Botones INICIO*/
.btn-bg{
	background: linear-gradient(to right, #003E5F 0%, #107FC9 40%,#107FC9 50%,#107FC9 60%,#003E5F 100%)!important;
	color: #fff!important;
}

.btn-bg:hover{
	background: linear-gradient(to right, #107FC9 0%, #23B0DB 40%,#23B0DB 50%,#23B0DB 60%,#107FC9 100%)!important;
	color: #fff!important;
}
/*Botones admin rojos*/
.btn-bga{
  background: linear-gradient(to right, #B20C0C 0%, #EF2C2C 40%,#FF2727 50%,#EF2C2C 60%,#B20C0C 100%)!important;
  color: #fff!important;
}
.btn-bga:hover{
  background: linear-gradient(to right, #FF2D2D 0%, #FC4343 40%,#FF6464 50%,#FC4343 60%,#FF2D2D 100%)!important;
  color: #fff!important;
}
.btn-bg-login{
	background-color: #23B0DB!important;
}
.btn-bg-login:hover {
    background-color: #003E5F!important;
    color: #fff!important;
}

.drop:hover {
	background-color: #23B0DB!important;
}
/*Botones FIN*/

/*Modals INICIO*/

.modal2{
 background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
  align-items: center;
}
.modal3{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
  align-items: center;
}
/*Modals FIN*/

/*Mapa INICIO*/
#map{
    height: 400px;
    width: 100%;
  }
/*Mapa FIN*/

/*Tamaño imagenesINICIO*/
.img-tamaño-foro{
  width: 60px;
}
.img-tamaño-foro2{
  width: 50px;
}
.img-card-ayuda{
  width: 100px!important;
}
/*Tamaño imagenes FIN*/
